.services {
    margin: 104px;
    gap: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services h2 {
    font-family: Inter;
    font-weight: 800;
    font-size: 32px;
    color: #dbae79;
}

.services-subtitle {
    margin-bottom: 32px;
    text-align: center;
    width: 750px;
    font-family: Inter;
    font-weight: 300;
    font-size: 24px;
    color: #dbae79;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.service-card {
    margin-bottom: 15px;
    background-color: #dbae79;
    border: 4px solid #8f6837;
    border-radius: 20px;
    width: 375px;
    overflow: hidden;
    position: relative absolute;
    box-shadow: 0 0 15px rgba(0, 0, 0, 15);
    gap: 8px;
    padding: 8px;
}

.service-card * {
    transition: all 0.5s ease-in-out;
}

.service-card:hover .service-card__body {
    transform: translateY(-75px);
}

.service-card:hover .service-card__body .service-card__showOnHover {
    overflow: initial;
    height: 100px;
    max-height: 100px;
    transform: translateY(75px);
}

.service-card__header {
    height: 375px;
    background-color: #1e5f5b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 8px;
}

.service-card__showOnHover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
    max-height: 0; 
    transition: max-height .4s ease-in;
}

.service-card__body {
    width: 100%;
    padding: 30px 30px 40px 30px;
}

.service-card__body-text {
    font-family: Inter;
    font-weight: 800;
    font-size: 20px;
    color: #8f6837;
    transition: all .4s ease-in-out;
}

.service-card:hover .service-card__body-text {
    opacity: 0;
}

.service-card__showOnHover h3 {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    color: #8f6837;
    text-align: center;
}

.service-card__showOnHover p {
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    color: #8f6837;
}

.service-card__header h3 {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    color: #dbae79;
    text-align: center;
    width: 250px;
}

.p-card {
    width: 250px;
    line-height: 1.5;
    text-align: center;
    font-family: Inter;
    font-weight: 200;
    font-size: 16px;
    color: #dbae79;
}

.btn-card, .btn-services {
    width: 175px;
    min-height: 35px;
    background-color:#8f6837 ;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border-radius: 8px;
    border: none;
    transition: all 0.3s;
}

.btn-card {
    font-size: 14px;
}

.btn-card:hover, .btn-services:hover {
    cursor: pointer;
    width: 190px;
    height: 55px;
    font-size: 18px;
}

.btn-card:hover {
    font-size: 16px;
}

.btn-card:active, .btn-services:active{
    width: 175px;
    height: 45px;
    font-size: 16px;
}

.btn-card:active {
    font-size: 14px;
}