.services {
    margin: 104px;
    gap: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services h2 {
    font-family: Inter;
    font-weight: 800;
    font-size: 32px;
    color: #dbae79;
}

.services-subtitle {
    margin-bottom: 32px;
    text-align: center;
    width: 750px;
    font-family: Inter;
    font-weight: 300;
    font-size: 24px;
    color: #dbae79;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.service-card {
    background-color: #1e5f5b;
    border: 4px solid #dbae79;
    border-radius: 20px;
    width: 375px;
    height: 375px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    padding: 8px;
    position: static;
    transition: all 0.3s;
}

.service-card h3 {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    color: #dbae79;
    text-align: center;
    width: 250px;
}

.p-card {
    width: 250px;
    line-height: 1.5;
    text-align: center;
    font-family: Inter;
    font-weight: 200;
    font-size: 16px;
    color: #dbae79;
}

.price-card {
    width: 375px;
    height: 375px;
    display: ;
    background-color: #dbae79;
    transition: all 300ms ease-in-out;
}

.price-card:hover {
    display: ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

